* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
}

.header {
    z-index: 5;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 20px;
    justify-content: end;
    padding: 20px 20px;
    color: #4C0033;
    font-weight: bolder;
    height: 4vh;


}

.header ul li a {
    text-decoration: none;
    color: #4C0033;
}



.logo {
    height: 0px;
}

.logo img {
    height: 70px;
    width: 70px;
    padding: 0px 5px;
}

.container {
    background-color: whitesmoke;
    padding: 20px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #4C0033;
}

.container h1 {
    font-size: 50px;
    font-weight: bolder;
}


.container p {
    font-weight: bold;
    padding: 20px;
}

.container button {
    border-radius: 15px;
    width: 30vh;
    margin: 20px;
    height: 10vh;
    background-color: #4C0033;
    border: 0px;
    color: white;
    font-size: 20px;
}

.container button:hover {
    transform: scale(1.1);
    border-radius: 15px;
    transition: 0.5s ease-in-out;
    background-color: rgb(0, 0, 56);
}

.container-one {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./background-removebg-preview.png) no-repeat center center/cover;
    height: 50vh;

}

.container-one h1 {
    color: white;
    font-size: 100px;

}

.container-one img {
    width: 100%;
    border-radius: 20rem;
}

.text {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.text h3 {
    color: #9a3277;
    padding: 10px 0px;
}

.text h1 {
    color: #4C0033;
    font-size: 60px;
}

.image {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.main {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.main img {
    width: 50vh;
    height: 25vh;
}

.main:hover {
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

.main h1 {
    color: #4C0033;
}

.main h3 {
    color: #965a82;
    text-align: end;
}

.container-two {
    background-color: whitesmoke;
    gap: 100px;
    display: flex;
}

.container-two img {
    width: 50%;
}

.main-two {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-two h1 {
    color: #4C0033;
    padding: 20px 10px;
}

.main-two h3 {
    color: #9a3277;
    padding: 0px 9px;

}

.main-two p {
    padding: 0px 15px;
    color: #965a82;
}

.main-two button {
    display: flex;
    width: 30vw;
    height: 5vh;
    background-color: #4C0033;
    align-items: center;
    justify-content: center;
    border: 0px;
    color: white;
    margin: 30px 30px;
    font-size: 15px;
    border-radius: 25px;
    padding: 0px 15px;

}

.main-two button:hover {
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
    background-color: rgb(0, 0, 74);
}

.container-three {
    background: url(./360_F_294375555_tpcdo43DC1XFr6kpSv4v4bEsmcY1GgWz.jpg) no-repeat center center/cover;
    height: 70vh;
    /* opacity: 0.90; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-three h1 {
    color: #4C0033;
    font-size: 60px;

}



.container-three p {
    color: #965a82;
    /* align-items: center; */
    /* width: 80vh; */
}

.comment {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.comment img {
    font-weight: bold;
    height: 10vh;
    width: 10vh;
}

.comment h5 {
    font-size: 20px;
    color: #4C0033;
}

.container-four {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: end;
    align-items: center;
}

.container-four h1 {
    color: #4C0033;
    font-size: 40px;
}

.container-four h4 {
    color: #4C0033;
}

.container-five {
    background-color: whitesmoke;
    display: flex;
    gap: 100px;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}

.in h4 {
    font-weight: bolder;
    font-size: 20px;
    color: #4C0033;
    height: 5vh;
    padding-right: 0px 30px;
}

.out img {
    width: 100%;
    /* padding: 0px 30px; */
}

.btn {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.btn button {
    background-color: #9a3277;
    border: 0px;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.btn button:hover {
    transform: scale(1.3);
    background-color: rgb(0, 0, 49);
    border-radius: 5px;
    transition: 0.8s ease-in-out;
}

.videoTag {
    background-color: whitesmoke;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 50%;
    height: 50vh;
}

.card-content {
    margin: 20px 0px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-one {
    background-color: whitesmoke;
    display: flex;

}

.img-one img {
    width: 25vw;
    height: 30vh;
}

.img-one img:hover {
    transform: rotate(10deg);
    transition: 0.5s ease-in-out;
}

.container-six {
    height: 40vh;
    color: white;
    gap: 200px;
    background-color: #4C0033;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.container-seven {
    display: flex;
    gap: 35%;
    justify-content: end;
}

.main:hover {
    transform: scale();
}


.one {
    width: 50vw;
    padding: 30px;
}

.one p {
    width: 50vw;
}

.one img {
    width: 10vw;
}

.two {
    margin-top: 30px;
    font-size: 20px;
}

.three {
    margin-top: 30px;
    font-size: 20px;
}

.four {
    margin-top: 30px;
    font-size: 20px;

}

.copy {
    background-color: #4C0033;
    color: white;
    text-align: center;
    padding: 15px;
}



a {
    text-decoration: none;
    color: white;
}

.centerLoadingIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-hourglass::after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #4C0033;
    border-color: #4C0033 transparent #4C0033 transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}

@media screen and (max-width:600px) {
    .text {
        height: 25vh;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }



    .container h1 {
        font-size: 36px;
    }

    .container button {
        width: 34vw;
        margin: 0;
        font-size: 12px;
        height: 5vh;
    }




    .header ul {
        font-size: 10px;
        gap: 12px;
        align-items: center;
    }

    .container {
        height: 50vh;
    }

    .image {
        gap: 25px;
        flex-direction: column;
        align-items: center;
    }

    .main {
        width: 100%;
    }

    .main img {
        width: 100%;
    }

    .container-one {
        height: 16vh;
    }

    .container-one h1 {
        font-size: 30px;
    }

    .text h1 {
        font-size: 36px;
    }

    .container-two {
        flex-direction: column;
        gap: 40px;
    }

    .main-two {
        width: 100%;
        height: 60vh;
        align-items: center;
    }

    .container-two img {
        width: 100%;
    }

    .container-three {
        height: 30vh;
    }

    .container-three p {
        font-size: 10px;
    }

    .container-four {
        height: 12vh;
    }

    .in h4 {
        font-size: 12px;
        height: 1vh;

    }

    .container-four h1 {
        font-size: 20px;
    }

    .container-five {
        flex-direction: column;
        gap: 0px;
    }

    .container-six {
        height: 120vh;
        align-items: center;
        flex-direction: column;
        gap: 0px;
    }

    .container-seven {
        display: flex;
        gap: 10%;
        flex-direction: column;

    }

    .img-one img {
        width: 25vw;
        height: 25vh
    }



    .one {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-two button {
        width: 60vw;
    }




    .two h3 {
        font-size: 45px;
    }


    .three h3 {
        font-size: 45px;
    }

    .four h3 {
        font-size: 45px;
    }

    .main-two p {
        margin: 10px 15px;

    }

    .main-two h1 {
        font-size: 15px;
    }

    .main-two h3 {
        display: flex;
        justify-content: center;
        font-size: 65px;
    }

    .container-three h1 {
        font-size: 30px;
    }

    .button-one {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .videoTag {
        padding: 10px;
    }

    .two {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .three {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .four {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .main:hover {
        transform: scale(1);
    }

    .main {
        width: 90%;
    }


}

@media screen and (min-width:601px) and (max-width:900px) {
    .container-one h1 {
        font-size: 60px;
    }

    .container-one {
        height: 35vh;
    }

    .container-two {
        flex-direction: column;
    }

    .container-two img {
        width: 100%;
    }

    .image {
        flex-direction: column;
    }

    .text {
        height: 30vh;
    }

    .main-two {
        width: 100%;
        height: 40vh;
        align-items: center;
    }

    .main img {
        width: 100%;
    }

    .main-two h3 {
        font-size: 50px;
    }

    .main:hover {
        transform: scale(1);
    }

    .container-four h1 {
        font-size: 38px;
    }

    .in {
        padding: 0px 15px;
    }

    .in h4 {
        font-size: 15px;
    }



    .container-six {
        gap: 100px;
    }

    .two {
        font-size: 15px;
    }

    .three {
        font-size: 15px;
    }

    .four {
        font-size: 15px;
    }
}


@media screen and (min-width:901px) and (max-width:1200px) {
    .out img {
        padding: 0;
    }

    .main {
        width: 28%;
    }

    .main img {
        width: 100%;
    }

    .container-one h1 {
        font-size: 90px;
    }
}